body{
	color: $black;
	@include copy-font;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

p{
	font-size: 14px;
	line-height: 15px;
	margin: 0 0 9px;

	@include respond-min($tablet){
		font-size: 23px;
		line-height: 25px;
		margin: 0 0 13px;
	}
}
