// Sizes
$tablet: 600px;
$desktop: 960px;

// Colours
$black: #000000;
$white: #ffffff;

// Speeds
$hover-speed: 200ms;

// Padding

// Element Sizes

// Transitions
$in-out-expo: cubic-bezier(1, 0, 0, 1);
