{% extends "layout.html" %}

{# Define the meta #}
{% set meta_title = 'SliMVC' %}
{% set meta_description = '' %}
{% set meta_keywords = '' %}
{# Open Graph #}
{% set og_title = 'Welcome' %}
{% set og_description = meta_description %}
{% set og_type = 'website' %}
{% set og_image = meta_image %}
{% set og_url = url %}
{% set og_site = 'SliMVC' %}
{# Twitter #}
{% set tw_type = 'summary' %}
{% set tw_user = '' %}
{% set tw_title = 'SliMVC' %}
{% set tw_description = meta_description %}
{% set tw_image = meta_image %}
{# End meta #}

{% block content %}
<h1>Welcome</h1>
{% endblock %}
